# Django (inside rhythmo_django/)
rhythmo_django/*.pyc
rhythmo_django/__pycache__/
rhythmo_django/media/
rhythmo_django/staticfiles/

# Vue (inside rhythmo_vue/)
rhythmo_vue/node_modules/
rhythmo_vue/dist/

# env
/env/